.navbar
  width: 250px
  text-align: left
  padding: 45px
  font-weight: 300
  letter-spacing: 1.5px
  font-size: 1vw
  line-height: 3rem

  &__logo
    font-size: 2.5rem
    color: inherit

  &__titre

  &__links
    margin-top: 40px

  &__link
    &:hover
      font-weight: 500

  &__separateur
    display: block
    width: 60px
    height: 1px
    background-color: black
    border: none
    margin: 5px 0

    //   &__burger
//     width: 40px
//     height: 40px
//     background-color: transparent
//     color: black
//     border: none
//     display: block
//     position: fixed
//     top: 1rem
//     right: 2rem
//     z-index: 2

//     &:hover
//       cursor: pointer

// .burger-bar,
// .burger-bar::before,
// .burger-bar::after
//   display: block
//   width: 40px
//   height: 3px
//   position: relative
//   border-radius: 3px
//   background: black
//   transition: all 0.5s ease-in-out

// .burger-bar::before,
// .burger-bar::after
//   content: ''
//   position: absolute
//   left: 0

// .burger-bar::before
//   transform: translateY(-12px)

// .navbar__burger .burger-bar::after
//   transform: translateY(12px)

// .show-nav .burger-bar::before
//   transform: rotate(45deg)
//   background-color: white

// .show-nav .burger-bar::after
//   transform: rotate(-45deg)
//   background-color: white

// .show-nav .burger-bar
//   width: 0
//   background: transparent

// .show-nav .navbar__links
//   width: 50vw
//   right: 0
//   visibility: visible
